* {
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url(../../assets/truck.jpeg);
    background-color: rgba(255,255,255,0.8);
      background-blend-mode: lighten;
  }
  
  .header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    box-shadow: 0 -6px 10px 5px #1e9bff;
    z-index: 999;
    justify-content: space-between;
  }
  .logo {
    height: 100px;
    display: inline;
  }
  
  .contact-icons {
    margin: 30px;
    display: inline;
    font-size: 40px;
  }
  
  .contact-icons a {
    margin-left: 40px;
    text-decoration: none;
  }
  
  .contact-icons img {
    width: 40px; 
    height: auto;
    box-shadow: 1px 1px #1e9bff;
  }
  


/* vehicle */
.part-title {
    position: absolute;
    padding-top: 100px;
    padding-left: 200px;
    display: flex; /* Use flexbox */
    justify-content: left; /* Center horizontally */
    align-items:flex-start; /* Center vertically */
    z-index: 998;
    flex-wrap: wrap;
    color: #1e9bff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style:normal;
    text-shadow: #1e9bff 1px 0 10px;
}

.price {
    position: absolute;
    padding-top: 140px;
    padding-left: 270px;
    display: flex; /* Use flexbox */
    justify-content: left; /* Center horizontally */
    align-items:flex-start; /* Center vertically */
    z-index: 998;
    flex-wrap: wrap;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style:normal;
    
}

.parts {
    position: absolute;
    padding-top: 170px;
    padding-left: 270px;
    display: list-item; 
    list-style-type: none;
    z-index: 998;
    flex-wrap: wrap;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style:normal;
}

.parts li {
    margin: 4px 0;
    border-left: 2px solid #1e9bff;
    padding-left: 10px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}
.container {
    text-align: center;
    margin-top: 20px;
    
}

.slideshow-container {
    position: relative;
    margin: 0 auto;
    max-width: 600px; /* Adjust max-width as needed */
}

.prev {
    position: absolute;
    top: 70%;
    left: -20%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    z-index: 1;
    cursor: pointer;
    font-size: 50px;
    padding: 1px;
    border-radius: 10%;
    transition:  0.3s;
}

.prev span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 8px solid #1e9bff;
    border-right: 8px solid #1e9bff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.prev span:nth-child(2) {
    animation-delay: -0.2s;
}

.prev span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.next {
    position: absolute;
    top: 70%;
    right: -20%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    z-index: 1;
    cursor: pointer;
    font-size: 50px;
    padding: 1px;
    border-radius: 10%;
    transition:  0.3s;
}

.next span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 8px solid #1e9bff;
    border-right: 8px solid #1e9bff;
    transform: rotate(-45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.next span:nth-child(2) {
    animation-delay: -0.2s;
}

.next span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    margin-top: 120px;
    height: 500px; /* Set a fixed height for the image */
    object-fit: cover; /* Crop the image to cover the entire space while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}

.thumbnails-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail {
    margin: 0;
    opacity: 0.6; /* Set thumbnail opacity */
}

.thumbnail.active {
    opacity: 1; /* Highlight active thumbnail */
}

.thumbnail img {
    max-width: 100%;
    height: 200px; /* Set a fixed height for the image */
    object-fit: cover; /* Crop the image to cover the entire space while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
}
footer {
    background-color: white; /* Dark grey background color */
    padding: 10px; /* Add padding around the content */
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  
  .footer-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align content with space between */
    align-items: center; /* Center items vertically */
    padding: 10px;
    color: #000;
    margin-bottom: 0px;
  }
  .admin-link {
    padding-right: 20px;
    font-size:16px;
  }
  .map {
    padding-left: 20px;
  }
  
  .map-icon {
    display: none;
  }

@media (max-width: 575.98px) {
      body {
        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9));
    }
    .container {
      height: 120vh;
      overflow: scroll;
  }
      .header {
        align-items: center;
      }
      .logo {
        height: 40px;
      }
      .contact-icons {
        margin: 10px;
        font-size: 20px;
      }
      .contact-icons a {
        margin-left: 10px;
      }
      .part-title {
        padding-top: 65px;
        padding-left: 10px;
        z-index: 998;
        flex-wrap: wrap;
        color: #1e9bff;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style:normal;
        text-shadow: #1e9bff 1px 0 10px;
    }
    .price {
        padding-top: 120px;
        padding-left: 10px;
        display: flex; /* Use flexbox */
        justify-content: left; /* Center horizontally */
        align-items:flex-start; /* Center vertically */
        z-index: 998;
        flex-wrap: wrap;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style:normal;
        
    }
    .parts {
        padding-top: 575px;
        padding-left: 20px;
        /* transform: translate(-50%, -50%); */
        display: list-item; /* Use flexbox */
        list-style-type: none;
        z-index: 0;
        flex-wrap: wrap;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style:normal;
        
    }
    .slideshow-container {
        position: relative;
        margin: 0 auto;
        max-width: 300px; /* Adjust max-width as needed */
        max-height: 100px;
        
    }
    .slide img {
        width: 100%;
        margin-top: 200px;
        height: 300px; /* Set a fixed height for the image */
        object-fit: cover; /* Crop the image to cover the entire space while maintaining aspect ratio */
        object-position: center; /* Center the image within the container */
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    }
    .thumbnails-container {
        display: none;
        
    }
    .prev {
        position: absolute;
        top: 530px;
        left: 25px;
        transform: translate(-50%, -50%);
        transform: rotate(90deg);
        z-index: 1;
        cursor: pointer;
        font-size: 50px;
        padding: 1px;
        border-radius: 10%;
        transition:  0.3s;
        z-index: 999;
    }
    .prev span {
        display: block;
        
        border-bottom: 4px solid #1e9bff;
        border-right: 4px solid #1e9bff;
        transform: rotate(45deg);
        margin: -5px;
        animation: animate 2s infinite;
    }
    .next {
        position: absolute;
        top: 530px;
        right: 25px;
        transform: translate(-50%, -50%);
        transform: rotate(-90deg);
        z-index: 1;
        cursor: pointer;
        font-size: 50px;
        padding: 1px;
        border-radius: 10%;
        transition:  0.3s;
    }
    .next span {
        display: block;
        
        border-bottom: 4px solid #1e9bff;
        border-right: 4px solid #1e9bff;
        transform: rotate(-45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    footer {
        background-color: white; /* Dark grey background color */
        padding: 5px; /* Add padding around the content */
        box-shadow: 0px 0px 10px 0px #1e9bff;
      }
  
      .footer-content {
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center items vertically */
        padding: 1px;
        color: #000;
        margin-bottom: 0px;
        font-size:xx-small;
      }
      .admin-link {
        padding-right: 20px;
        font-size: small;
      }
  
      .map {
        display: none;
      }
      .map-icon {
        display: flex;
        font-size: 3rem; /* Adjust font size if needed */
        padding: 5px 10px; /* Adjust padding if needed */
      }
      .map-icon a {
        text-decoration:none;
      }
    }